# Ignore all Makefiles and platform build scripts from stats
Makefile linguist-vendored
*.mk linguist-vendored
*.make linguist-vendored

# Ignore generated platform folders
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
build/** linguist-vendored
